<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Verify Email</title>
  </head>
  <body>
    <h4>Is this your email?</h4>
    <button><a href="<%= link %>">Verify Now</a></button>
    <h6>-CMS</h6>
  </body>
</html>