<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Overdue Item</title>
  </head>
  <body>
    <h4>You Have An Overdue Item On Loan</h4>
    <p>Return <%= name %> now</p>
    <button><a href="<%= link %>">Continue</a></button>
    <h6>-CMS</h6>
  </body>
</html>