<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Overdue Item</title>
  </head>
  <body>
    <h4>You Have Requested Something</h4>
    <p>If you haven't requested</p>
    <ul>
        <% items.forEach(item => {%>
            <li><%= item %></li>
        <% }) %>
    </ul>
    <button><a href="<%= link %>">Let Us Know</a></button>
    <h6>-CMS</h6>
  </body>
</html>